<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contacts in Backbone.js</title>
</head>
<body>
<section id="todoapp">
    <header id="header">
        <h1>Contacts</h1>
        <input id="new-todo" placeholder="What needs to be done?">
    </header>
    <section id="main">
        <ul id="todo-list"></ul>
    </section>
</section>


<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script src="contacts.js"> </script>

</body>
</html>

<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox">
        <label><%- firstName %></label>
        <label><%- lastName %></label>
        <label><%- email %></label>
    </div>
</script>